{% extends 'home/index.html.twig' %}

{% block content %}

    <h1>Information Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.name }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ client.surname }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ client.address }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Mandat</th>
                <td></td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary btn-user" href="{{ path('client_index') }}"> &#8592; Retour à la liste des clients</a>

    <a class="btn btn-success" href="{{ path('client_edit', {'id': client.id}) }}">Editer</a>

    <a class="btn btn-info" href="#">Envoyer une demande de mandat</a>
    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
